.container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40vh;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 100px 10%;
}
.mapContainer {
  border: 0;
  width: 100%;
}
.contactDetails {
  display: flex;
  justify-content: space-between;
  background-color: #e8e8e8;
  border-radius: 15px;
  padding-top: 20px;
  gap: 15px;
}
/* .contactDetails > div {
  width: 48%;
} */
.contactDetailsInnerLeft {
  flex: 5;
  padding: 30px 20px;
}
.contactDetailsInnerRight {
  flex: 7;
  padding: 30px 20px;
}
.contactTitle {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  margin-bottom: 20px;
}
.contactForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contactDetails form .formControl {
  background-color: white;
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
  width: 100%;
  /* height: 40px; */
}
.contactDetails form .formControl:focus {
  box-shadow: none;
  border-color: inherit;
}
.button {
  border: 0;
  background-color: #232f3e;
  color: white;
  font-size: 14px;
  padding: 13px 13px;
  border-radius: 25px;
  cursor: pointer;
}
.button:hover {
  background-color: #febd69;
  color: #131921;
}
.contactDetails ul {
  list-style: none;
}
.contactDetails li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}
/* .contactDetails address,
.contactDetails a,
.contactDetails p {
  color: #777777;
} */
.icon {
  font-size: 24px;
}
