.main {
  min-height: 60vh;
  padding: 10%;
}

.inner1 {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.inner1Right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.inner2 {
  display: flex;
  justify-content: space-between;
}

.inner2Left {
  flex: 1;
}

.inner2Right {
  flex: 1;
}

.inner6 {
  display: flex;
  justify-content: space-between;
}
