.main {
  background-image: url("https://images.unsplash.com/photo-1518317507427-5346735246ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  height: fit-content;
  width: 100%;
  background-attachment: fixed;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  padding: 10%;
}