.main {
  background-image: url("https://images.unsplash.com/photo-1518317507427-5346735246ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40vh;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 100px 10%;
}
.title {
  color: white;
  font-family: var(--font-bold);
  text-shadow: var(--text-shadow);
}
.dropdown {
  background-color: rgba(255, 255, 255, 0.335);
  /* backdrop-filter: blur(2px); */
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}
.dropdown select {
  flex: 1;
  padding: 10px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: white;
  color: rgb(89, 89, 89);
}
.dropdown button {
  min-width: 100px;
  width: 15%;
  background-color: var(--color-action);
  border: none;
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
  color: white;
}
.info {
  color: gray;
}
.container {
  padding: 50px 10% 10% 10%;
}
.list {
  padding: 50px 20px;
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 10px;
}
.list li {
  list-style: none;
  line-height: 1.5;
}
.visaDetails {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  gap: 40px;
}
.visaDetailsLeft {
  flex: 9;
}
.visaDetailsRight {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 15px;
}
.visaDetailsRightTop {
  flex: 6;
  padding: 30px 20px;
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 10px;
  max-height: 40vh;
}
.visaDetailsRightBottom {
  flex: 6;
  padding: 35px 20px;
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 10px;
  max-height: 40vh;
}
.visaDetailsRightBottom h4 {
  padding-bottom: 10px;
  font-size: 20px;
}
.visaDetailsRightBottom p {
  padding-bottom: 10px;
}
@media screen and (min-width: 479px) {
  .main {
    background-attachment: fixed;
  }
}
