.main {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.79) 0%,
        rgba(0, 0, 0, 0.05) 100%
    );
    backdrop-filter: blur(2px);

    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.logo {
    margin-left: 10%;
    width: 200px;
    height: auto;
}

.icon {
    margin-right: 10%;
    font-size: 2rem;
    cursor: pointer;
}
.menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    height: calc(100vh - 70px);
    width: 300vw;
    right: 0;
    left: 0;
    top: 70px;
}
.cancelContainer {
    height: 60px;
    margin-right: 10%;
}
.iconCancel {
    font-size: 2rem;
    background-size: 600px 600px;
}
