.main {
  margin-top: 100px;
}

.top {
  height: 60px;
  width: 100%;
  background-color: antiquewhite;
  padding: 10px;
}

.top h1 {
  font-size: 18px;
  margin-bottom: 3px;
}

.top p {
  font-size: 13px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.details h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
