.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media screen and (min-width: 479px) {
  .card {
    background-attachment: fixed;
  }
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 900px;
}

/* .picture {
  width: fit-content;
  height: fit-content;
} */

.cardMiddle,
.cardLeft {
  display: flex;
  flex-direction: column;
}
.cardLeft{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.cardMiddle h2 {
  margin-top: 18px;
}

.location {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  gap: 5px;
  align-items: center;
}

.icon {
  font-size: 22px;
}

.cardRight {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
  margin-left: 30px;
}

.cardRightSpan {
  color: var(--color-action);
}

.pricePara {
  margin: 10px 0 10px 0;
}

.price {
  font-weight: bold;
  font-size: large;
}

.discount {
  font-weight: bold;
  font-size: 10px;
  color: rgb(240, 33, 33);
}

.vat {
  font-size: small;
}

.inputButton {
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  background-color: rgb(24, 130, 255);
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
}

.inputButton:hover {
  color: white;
  background-color: rgb(51, 146, 253);
}

.card2 {
  display: flex;
  /* justify-items: center; */
  justify-content: space-between;
  flex: 2;
  padding:10px 20px 10px 0px;
}
