.main {
    padding: 10%;
}
.main p {
    margin-top: 10px;
}
.container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.left,
.right {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}
.box {
    display: flex;

    gap: 20px;
}
@media (max-width: 653px) {
    .box {
        flex-wrap: wrap;
    }
}
.title {
    font-family: var(--font-bold);
}
