.main{
  padding: 10%;
}
.main p{
  margin-top: 10px;
}
.container{
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  gap: 20px;
  margin: 50px 0px;
  
  padding: 12px;
  border-radius: 10px;
}
.container::-webkit-scrollbar {
  display: none;
}
.title{
  font-family: var(--font-bold);
}