.main {
  min-height: 50vh;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 10%;
}

.main h1 {
  margin-bottom: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 150px;
  width: 100%;
  background-color: white;
  padding: 5% 2%;
  text-align: left;
  margin-bottom: 30px;
}

.profile h3 {
  font-size: 22px;
  margin-bottom: 8px;
}

.profile p {
  font-size: 16px;
}

.profileImage {
  border-radius: 50%;
  margin-top: 20px;
  border: 5px solid rgb(11, 92, 168);
}

.btnGroup button {
  background-color: #04aa6d;
  border: 1px solid green;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

.btnGroup::after {
  content: "";
  clear: both;
  display: table;
}

.btnGroup button:not(:last-child) {
  border-right: none;
}

.btnGroup button:hover {
  background-color: #3e8e41;
}

.btnGroup .activeButton {
  background-color: #3e8e41;
}

.bookedContainer {
  margin-top: 50px;
}
